<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:section name="main">
<f:if condition="{demand.resultPage}">
	<f:then>
		<f:form object="{demand}" controller="Search" action="search" name="demand" method="post" pageUid="{demand.resultPage}">
			<f:render section="inner" arguments="{_all}" />
		</f:form>
	</f:then>
	<f:else>
		<f:form object="{demand}" controller="Search" action="search" name="demand" method="post" >
		<f:render section="inner" arguments="{_all}" />
		</f:form>
	</f:else>
</f:if>
</f:section>

<f:section name="inner">
	<fieldset class="subject">
			<label for="search"><f:translate key="tx_yacy_domain_model_searchresult.title" /></label>
			<f:form.textfield id="search" property="query" placeholder="{f:translate(key: 'tx_yacy_domain_model_searchresult.subject')}" class="input-large tooltiplink"/>
			<f:form.hidden property="port"/>
			<f:form.hidden property="domain"/>
			<f:form.hidden property="protocol"/>
			<f:form.hidden property="interface"/>
			<f:form.submit value="{f:translate(key: 'tx_yacy_domain_model_searchresult.submit')}" class="button"/>
	</fieldset>

</f:section>
