


<f:section name="main">
<f:if condition="{demand.resultPage}">
	<f:then>
		<f:form object="{demand}" controller="Search" action="search" name="demand" method="post" pageUid="{demand.resultPage}">
			<f:render section="inner" arguments="{_all}" />
		</f:form>
	</f:then>
	<f:else>
		<f:form object="{demand}" controller="Search" action="search" name="demand" method="post" >
		<f:render section="inner" arguments="{_all}" />
		</f:form>
	</f:else>
</f:if>
</f:section>

<f:section name="inner">
	<fieldset class="subject">
			<label for="search"><f:translate key="tx_publications_domain_item.search" /></label>
			<f:form.textfield id="search" property="query" placeholder="Attac-Suche" class="input-large tooltiplink"/>
			<f:form.hidden property="port"/>
			<f:form.hidden property="domain"/>
			<f:form.hidden property="protocol"/>
			<f:form.hidden property="interface"/>
	    <input type="image" class="button" src="fileadmin/template/img/searchp_01.png">
	</fieldset>

</f:section>
