<f:layout name="Default" />

<f:section name="main">
	<h1>Yacy Suche</h1>
	<section class="searchbox clearfix">
		<div class="searchAndFilter">
			<f:render partial="Search/SearchForm" arguments="{demand:demand}" />
		</div>
	</section>
<f:if condition="{results}">
<div>
	{resultsCount} <f:translate key="yacy.resultsCount"> results found</f:translate>
</div>
<br>
<f:for each="{results}" as="result">
	<f:link.external uri="{result.link}"><b>{result.title}</b></f:link.external> <br>
	<f:link.external uri="{result.link}">{result.link}</f:link.external>
	<f:format.date format="d.m.Y">{result.pubDate}</f:format.date><br>
	<f:format.html>{result.description}</f:format.html>
</f:for>
</f:if>

 <div class="t3begists_paginator">
	<f:if condition="{pagination}">
		Seiten:&nbsp;&nbsp;
		<f:if condition="{pagination.first}">
			<f:link.action action="search" arguments="{page: pagination.first, demand: demand}" class="paginator-page">
			  "|<"
			</f:link.action>
		</f:if>
		<f:if condition="{pagination.prev}">
			<f:link.action action="search" arguments="{page: pagination.prev, demand: demand}" class="paginator-page">
				<
			</f:link.action>
		</f:if>
		<f:for each="{pagination.pages}" as="item">
			<f:link.action action="search" arguments="{page: item.text, demand: demand}" 
			class="paginator-page {f:if(condition: '{0:pagination.current} == {0:item.text}',then: ' active', else: '')}">
			{item.text}
		</f:link.action>
		</f:for>
		<f:if condition="{pagination.next}">
			<f:link.action action="search" arguments="{page:pagination.next, demand: demand}" class="paginator-page">
				>
			</f:link.action>
		</f:if>
		<f:if condition="{pagination.last}">
			<f:link.action action="search" arguments="{page: pagination.last, demand: demand}" class="paginator-page">
				>|
			</f:link.action>
		</f:if>
	</f:if>
	 
	<br class="clear-all">
</div>
</f:section>