<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

<f:section name="main">
	<section class="searchbox clearfix">
		<div data-search-configuration="{searchConfiguration -> f:format.htmlspecialchars()}">
			<f:render partial="Search/SearchForm" arguments="{demand:demand, settings:settings, searchConfiguration:searchConfiguration}" section="main" />
		</div>
	</section>
	<f:if condition="{query}">
		<div>{query}</div>
	</f:if>
<f:if condition="{results}">
<div>
	{resultsCount} <f:translate key="yacy.resultsCount"> results found</f:translate>
</div>
<br>

<f:for each="{results}" as="result">
	<f:if condition="{demand.contentDom} == 'image'">
		<f:then>
			<f:if condition="{result.url}">
				<f:link.external uri="{result.url}"><img src="{result.image}" alt="{result.title}"> {result.title}</f:link.external>
			</f:if>
			<f:if condition="{result.link}">
				<f:link.external uri="{result.link}"><img src="{result.image}" alt="{result.title}"> {result.title}</f:link.external>
			</f:if>

		</f:then>
		<f:else>
			<f:link.external uri="{result.link}"><b>{result.title}</b></f:link.external> <br>
			<f:link.external uri="{result.link}">{result.link}</f:link.external>
			<f:format.date format="d.m.Y">{result.pubDate}</f:format.date><br>
			<f:format.html>{result.description}</f:format.html>
		</f:else>
	</f:if>


</f:for>
</f:if>

 <div class="t3begists_paginator">
	<f:if condition="{pagination}">
		Seiten:&nbsp;&nbsp;
		<f:if condition="{pagination.first}">
			<f:link.action action="search" arguments="{page: pagination.first, demand: demand}" class="paginator-page">
			  |<
			</f:link.action>
		</f:if>
		<f:if condition="{pagination.prev}">
			<f:link.action action="search" arguments="{page: pagination.prev, demand: demand}" class="paginator-page">
				<
			</f:link.action>
		</f:if>
		<f:for each="{pagination.pages}" as="item">
			<f:link.action action="search" arguments="{page: item.text, demand: demand}"
			class="paginator-page {f:if(condition: '{0:pagination.current} == {0:item.text}',then: ' active', else: '')}">
			{item.text}
		</f:link.action>
		</f:for>
		<f:if condition="{pagination.next}">
			<f:link.action action="search" arguments="{page:pagination.next, demand: demand}" class="paginator-page">
				>
			</f:link.action>
		</f:if>
		<f:if condition="{pagination.last}">
			<f:link.action action="search" arguments="{page: pagination.last, demand: demand}" class="paginator-page">
				>|
			</f:link.action>
		</f:if>
	</f:if>

	<br class="clear-all">
</div>
</f:section>
